@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap') ;

body {
  background: #6e59b9;
  height: 100vh;
  width: 360px;
}

header {
  align-items: center;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

footer {
  align-items: center;
  background-color: rgb(238, 238, 238);
  bottom: 0;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 320px;
}

.risca {
  text-decoration: 'line-through';
}

.container-search {
  padding: 10px;
  text-align: center;
  width: 340px;
}

.container-input {
  margin-bottom: 10px;
  width: 340px;
}

.input-search {
  border-radius: 10px;
  font-size: 18px;
  padding: 5px;
}

.btn-search {
  border: 0.5px solid;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
  padding: 5px  10px;
}

.radio-search {
  font-size: 20px;
}


.container-radio {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.span-margin {
  display: block;
  margin-bottom: 50px;
}

.title-logo {
  font-family: Cinzel Decorative , cursive;
  font-size: 50px;
  line-height: 5px;
}

.title-page {
  font-family: Cinzel Decorative , cursive;
}

.input-login {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px 0;
  padding: 5px 8px;
}

.btn-login {
  border-radius: 10px;
  color: black;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px 20px;
}

.container-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.meals {
  align-items: center;
  background: #6e59b9;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  margin: 10px 0;
  max-height: 50vh;
  width: 30%;
}

.container-carousel {
  margin: 30px;
  text-align: center;
  width: 80%;
}

.card-carousel {
  background-color: rgb(213, 212, 212);
  border-radius: 10px;
  margin-bottom: 50px;
  margin-left: 1px;
}

.img-carousel {
  margin: 20px 30px;
  width: 50%;
}

.container-details {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 15px;
}

.startRecipes {
  background-color: rgb(77, 161, 103);
  border: none;
  bottom: 0;
  color: white;
  font-family: Cinzel Decorative , cursive;
  font-size: 25px;
  padding: 15px 0;
  position: fixed;
  width: 360px;
}

.btn-finish {
  background-color: rgb(7, 7, 7);
  color: white;
  font-family: Cinzel Decorative , cursive;
  font-size: 25px;
  margin-bottom: -50px;
  margin-top: 20px;
  padding: 15px 0;
  width: 360px;
}

.btn-finish:disabled {
  background-color: rgb(49, 49, 49);
  color: rgb(173, 172, 172);
}

.card-recipe {
  background: rgba(185, 182, 182, 0.389);
  border: 0;
  border-radius: 10px;
  margin-bottom: 80px;
  margin-top: -40px;
  padding-top: 15px;
  width: 160px;
}

nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 60px;
  margin-top: -30px;
}

.img-recipes {
  width: 100px;
}

.title-recipes {
  font-family: Cinzel Decorative , cursive;
  font-size: 20px;
  font-weight: 900;
}

.container-recipes {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.btn-recipes {
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 15px 0;
  width: 100px;
}

.btn-recipes-drinks {
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  height: 60px;
  margin-bottom: 10px;
  padding: 5px 0;
  width: 100px;
}

.img-details {
  margin-top: -50px;
  width: 110%;
}

.container-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title-details {
  font-family: Cinzel Decorative , cursive;
  font-size: 35px;
  line-height: 5px;
}

.titles-details {
  border-bottom: 2px solid;
  border-top: 2px solid;
  font-size: 22px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.category {
  font-size: 20px;
  line-height: 5px;
  margin-top: 0;
  width: 100%;
}

.instructions {
  font-size: 22px;
  padding: 10px;
  text-align: justify;
}

.ingredient {
  font-size: 20px;
  padding: 5px;
  width: 165px;
}

.quantity {
  border-left: 2px solid;
  font-size: 20px;
  padding-left: 20px;
}

.title-carousel {
  color: black;
  font-size: 20px;
}

.container-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.container-profile {
  align-items: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  font-family: Cinzel Decorative , cursive;
  font-size: 20px;
  justify-content: space-evenly;
  padding: 10px;
}

.btn-done {
  background-color: rgb(77, 161, 103);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: Cinzel Decorative , cursive;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.btn-favorite {
  background-color: rgb(112, 22, 30);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: Cinzel Decorative , cursive;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.btn-logout {
  background-color: rgb(7, 7, 7);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: Cinzel Decorative , cursive;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.title-logo-profile {
  font-family: Cinzel Decorative , cursive;
  font-size: 40px;
  line-height: 5px;
}

.img-favorite {
  margin-left: 30px;
  width: 150px;
}

.card-favorite {
  align-items: center;
  background: rgba(185, 182, 182, 0.389);
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  margin-top: -30px;
  padding: 20px 10px;
  width: 100%;
}

.container-favorite {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 200px;
}

.btn-margin {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 90px;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

